 *{
    margin: 0%;
    padding: 0%;
}



 .heroimg{
    background-image: url("./pics/gurantee_banner.gif");
    justify-content:start;
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height:100%; 
    margin-right: 0%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.hero{
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    justify-content:space-between;

}

.menu-link {
  text-transform: uppercase;
  transition: 0.3s ease;
  border-radius: 5px;
}

.menu-link:hover {
  background-color: gray !important;   
  color: white !important;             
}

 
    .headerp h2{
        font-size: 3.2rem;
        width: 100%;
    }
    .headerp p{
        font-size: 1.32rem;
    }

.heroimg2{
    background-image: url("./pics/form_bg.jpg");
    justify-content: end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:100%; 
    margin-right: 0%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
}

.hedertext5 h2{
    height: 50%;
}


 .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 3%; 
}

.form-row label {
  font-family: Arial, Helvetica, sans-serif;  
  width:75px; 
  text-align:right;
  font-size: 16px;
  font-weight: bolder;
  margin-left: 4%;
}

.form-row input {

  padding:1px;
  width: 70%;
  height: 4.5vh;
  box-sizing: border-box;
  margin-left: 6%;
}  
.imgfoterbtn button{
     background-color: rgba(170, 4, 4, 0.959);
    border: none;
}
.imgfoteerbtnn button
{
    background-color: rgba(170, 4, 4, 0.959);
    border: none;
}

@media(max-width:1024px){
   .heroimg{
    width:100%;
    height:50vh;
    display: flex;
    margin-left:0;
    justify-content: start;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    background-size: contain;
     box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
     overflow: hidden;
    }
    .artical{
        width: 100vh;
    }
    .borderrr{
    border-bottom:none;
    border: none;
}
.borderr{
    border-left:none;
    border-right: none;
}
}
.borderrr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
}
.borderr{
    border-left:1px solid rgba(0, 0, 0, 0.185);
    border-right: 1px solid rgba(0, 0, 0, 0.219);
}
.lastfooterleftbor{
    background-color: gray;
}
.lastfooterleftbtn button{
   border:none;
   background-color: gray;
   color: white;
}
.lastfooterrightbtn button{
       background-color: rgba(170, 4, 4, 0.959);
       border:  none;
}
.lastfooterrightbtn{
    border-top: 2px solid black;
}

.rightimgg img{
   
    width: 15.4vw;
    height: 10vh;
    transform: rotate(10.7deg);
    transform-origin: left bottom;
}

textarea{
    height: 13vh;
    width: 95%;
    resize: none;
}
